.ts------16
{
	font-family: ubuntu-n4, sans-serif;
}

#widgetu949.frm-sub-st #u955-4 p,#widgetu949.frm-subm-err-st #u956-4 p,#widgetu949.frm-subm-ok-st #u954-4 p
{
	font-family: ubuntu-n4, sans-serif;
}

#u1610-4,#u1611-4,#u1612-4,#u2239-4
{
	font-family: ubuntu-n4, sans-serif;
}

