#u5044
{
	-pie-box-shadow: -1px 4px 8px #BFBFBF;
	box-shadow: -1px 4px 8px rgba(127,127,127,0.5);
	background-color: #FFFFFF;
}

#u4979
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u4979:hover
{
	border-color: #28AEE2;
	background-color: transparent;
}

#u4979:active
{
	border-color: #28AEE2;
	background-color: #7F7F7F;
}

#u4980-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #5B5B5B;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#u4979:hover #u4980-4 p
{
	color: #28AEE2;
	visibility: inherit;
}

#u4979:active #u4980-4 p
{
	color: #28AEE2;
	visibility: inherit;
}

#u5000
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u4979.MuseMenuActive,#u5000:hover
{
	border-color: #28AEE2;
	background-color: transparent;
}

#u5000:active
{
	border-color: #28AEE2;
	background-color: #7F7F7F;
}

#u5002-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #5B5B5B;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#u5000:hover #u5002-4 p
{
	color: #28AEE2;
	visibility: inherit;
}

#u5000:active #u5002-4 p
{
	color: #28AEE2;
	visibility: inherit;
}

#u5007
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u5000.MuseMenuActive,#u5007:hover
{
	border-color: #28AEE2;
	background-color: transparent;
}

#u5007:active
{
	border-color: #28AEE2;
	background-color: #7F7F7F;
}

#u5010-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #5B5B5B;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#u5007:hover #u5010-4 p
{
	color: #28AEE2;
	visibility: inherit;
}

#u5007:active #u5010-4 p
{
	color: #28AEE2;
	visibility: inherit;
}

#u4970
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u5007.MuseMenuActive,#u4970:hover
{
	border-color: #28AEE2;
	background-color: transparent;
}

#u4970:active
{
	border-color: #28AEE2;
	background-color: #7F7F7F;
}

#u4972-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FF0000;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#u4970:hover #u4972-4 p
{
	color: #28AEE2;
	visibility: inherit;
}

#u4970:active #u4972-4 p
{
	color: #28AEE2;
	visibility: inherit;
}

#u4986
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u4970.MuseMenuActive,#u4986:hover
{
	border-color: #28AEE2;
	background-color: transparent;
}

#u4986:active
{
	border-color: #28AEE2;
	background-color: #7F7F7F;
}

#u4988-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #5B5B5B;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#u4986:hover #u4988-4 p
{
	color: #28AEE2;
	visibility: inherit;
}

#u4986:active #u4988-4 p
{
	color: #28AEE2;
	visibility: inherit;
}

#u4991
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	border-width: 0px 1px 0px 0px;
}

#u4986.MuseMenuActive,#u4991:hover
{
	border-color: #28AEE2;
	background-color: transparent;
}

#u4991:active
{
	border-color: #28AEE2;
	background-color: #7F7F7F;
}

#u4991.MuseMenuActive
{
	border-color: #28AEE2;
	background-color: transparent;
}

#u4994-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #5B5B5B;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#u4991:hover #u4994-4 p
{
	color: #28AEE2;
	visibility: inherit;
}

#u4991:active #u4994-4 p
{
	color: #28AEE2;
	visibility: inherit;
}

#u4979.MuseMenuActive #u4980-4 p,#u5000.MuseMenuActive #u5002-4 p,#u5007.MuseMenuActive #u5010-4 p,#u4970.MuseMenuActive #u4972-4 p,#u4986.MuseMenuActive #u4988-4 p,#u4991.MuseMenuActive #u4994-4 p
{
	color: #28AEE2;
	visibility: inherit;
	font-size: 15px;
	font-weight: bold;
}

#u5081
{
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u5081:hover
{
	border-color: #000000;
}

#u5082-4
{
	background-color: transparent;
	color: #5B5B5B;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#u5081:hover #u5082-4 p
{
	color: #28B1E2;
	visibility: inherit;
}

#u5081.PamphletThumbSelected #u5082-4 p
{
	color: #28B1E2;
	visibility: inherit;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
}

#u5049
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	-pie-background: rgba(0,0,0,0.9);
}

#u5051
{
	border-color: #CFCFCF;
	background-color: #FFFFFF;
	position: relative;
}

#u5054-4
{
	background-color: transparent;
	color: #7F7F77;
	font-size: 28px;
	line-height: 28px;
	text-align: center;
	font-weight: 700;
	position: relative;
}

#u5044_align_to_page,#pamphletu5048,#u5080,#widgetu5059
{
	position: relative;
}

#menuu4968,#u5050,#widgetu5061
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5063-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #CFCFCF;
	background-color: #FFFFFF;
	border-radius: 3px;
	color: #7F7F77;
	line-height: 37px;
	position: relative;
}

#u5063-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px #CFCFCF, inset 0px 0px 10px #CFCFCF;
}

#widgetu5061.focus-st #u5063-4
{
	border-width: 2px;
	border-style: solid;
	border-color: #26B7FD;
}

#widgetu5061.fld-err-st #u5063-4
{
	border-width: 2px;
	border-style: solid;
	border-color: #D7244C;
}

#widgetu5061.focus-st #u5063-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px #CFCFCF, inset 0px 0px 10px #CFCFCF;
}

#widgetu5061.fld-err-st #u5063-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px #CFCFCF, inset 0px 0px 10px #CFCFCF;
}

#widgetu5065
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u5068-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #CFCFCF;
	background-color: #FFFFFF;
	border-radius: 3px;
	color: #7F7F77;
	line-height: 37px;
	position: relative;
}

#u5068-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px #CFCFCF, inset 0px 0px 10px #CFCFCF;
}

#widgetu5065.focus-st #u5068-4
{
	border-width: 2px;
	border-style: solid;
	border-color: #26B7FD;
}

#widgetu5065.focus-st #u5068-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px #CFCFCF, inset 0px 0px 10px #CFCFCF;
}

#widgetu5065.fld-err-st #u5068-4
{
	border-width: 2px;
	border-style: solid;
	border-color: #D7244C;
}

#widgetu5065.fld-err-st #u5068-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px #CFCFCF, inset 0px 0px 10px #CFCFCF;
}

#u5060-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #7F7F77;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu5059.frm-sub-st #u5060-4 p
{
	color: #7F7F77;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 16px;
	text-align: right;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u5069-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu5059.frm-subm-err-st #u5069-4 p
{
	color: #CC1F44;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 16px;
	text-align: right;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u5070-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #7F7F77;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#widgetu5059.frm-sub-st #u5060-4,#widgetu5059.frm-subm-err-st #u5069-4,#widgetu5059.frm-subm-ok-st #u5070-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu5059.frm-subm-ok-st #u5070-4 p
{
	color: #7F7F77;
	line-height: 1.2;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 16px;
	text-align: right;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u5071-17
{
	position: relative;
	background: url("../images/u5071-17.png") no-repeat 0px 0px;
}

#u5071-17:hover
{
	background: url("../images/u5071-17-r.png") no-repeat 0px 0px;
}

#u5071-17:active
{
	background: url("../images/u5071-17-m.png") no-repeat 0px 0px;
}

#widgetu5059.frm-sub-st #u5071-17
{
	background: url("../images/u5071-17-fs.png") no-repeat 0px 0px;
}

#widgetu5072
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#widgetu5061.fld-err-st,#widgetu5065.fld-err-st,#widgetu5072.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u5075-4
{
	border-width: 1px;
	border-style: solid;
	border-color: #CFCFCF;
	background-color: #FFFFFF;
	border-radius: 3px;
	color: #7F7F77;
	line-height: 37px;
	position: relative;
}

#u5075-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px #CFCFCF, inset 0px 0px 10px #CFCFCF;
}

#widgetu5072.focus-st #u5075-4
{
	border-width: 2px;
	border-style: solid;
	border-color: #26B7FD;
}

#widgetu5072.focus-st #u5075-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px #CFCFCF, inset 0px 0px 10px #CFCFCF;
}

#widgetu5072.fld-err-st #u5075-4
{
	border-width: 2px;
	border-style: solid;
	border-color: #D7244C;
}

#widgetu5072.fld-err-st #u5075-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px #CFCFCF, inset 0px 0px 10px #CFCFCF;
}

#widgetu5061.fld-err-st #u5063-4 *,#widgetu5065.fld-err-st #u5068-4 *,#widgetu5072.fld-err-st #u5075-4 *
{
	color: #CC1F44;
}

#widgetu5061_input,#widgetu5061_prompt,#widgetu5065_input,#widgetu5065_prompt,#widgetu5072_input,#widgetu5072_prompt
{
	color: #7F7F77;
}

#widgetu5061.non-empty-st #widgetu5061_prompt,#widgetu5065.non-empty-st #widgetu5065_prompt,#widgetu5072.non-empty-st #widgetu5072_prompt
{
	visibility: hidden;
}

#u5055,#u5052,#u5057
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u5083
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	border-radius: 10px;
	background: transparent url("../images/i.jpg") no-repeat center center;
	background-size: contain;
}

#u5083:hover
{
	background: #999999 url("../images/i.jpg") no-repeat center center;
	background-size: contain;
}

#u5083:active
{
	background: #6B6B6B url("../images/i.jpg") no-repeat center center;
	background-size: contain;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u5039_img
{
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
}

#u5038-4
{
	background-color: transparent;
	color: #5B5B5B;
	font-size: 22px;
	text-align: center;
	line-height: 39px;
	position: relative;
}

#u5046-4
{
	background-color: transparent;
	color: #5B5B5B;
	font-size: 26px;
	text-align: center;
	line-height: 40px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u5033-4
{
	background-color: transparent;
	color: #5B5B5B;
	font-size: 26px;
	text-align: center;
	line-height: 40px;
	letter-spacing: 4px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u5109
{
	border-width: 1px;
	border-style: solid;
	border-color: #AFAFAF;
	background-color: #FFFFFF;
	position: relative;
}

#u4895
{
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #5B5B5B;
	position: relative;
}

#u4895::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	box-shadow: inset 0px 0px 4px #FFFFFF, inset 0px 0px 4px #FFFFFF;
}

#u4976,#u4997,#u5004,#u4969,#u4983,#u4990,#u5039,#u4961,#u4964
{
	background-color: transparent;
	position: relative;
}

#u4964:hover
{
	background-color: transparent;
}

#u4964:active
{
	background-color: #6B6B6B;
}

#u4966-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u4964:hover #u4966-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u4964:active #u4966-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u4947,#u4950
{
	background-color: transparent;
	position: relative;
}

#u4964.MuseMenuActive,#u4950:hover
{
	background-color: transparent;
}

#u4950:active
{
	background-color: #6B6B6B;
}

#u4953-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u4964.MuseMenuActive #u4966-4 p,#u4950:hover #u4953-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u4950:active #u4953-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u4940,#u4943
{
	background-color: transparent;
	position: relative;
}

#u4950.MuseMenuActive,#u4943:hover
{
	background-color: transparent;
}

#u4943:active
{
	background-color: #6B6B6B;
}

#u4945-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u4950.MuseMenuActive #u4953-4 p,#u4943:hover #u4945-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u4943:active #u4945-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u4954,#u4957
{
	background-color: transparent;
	position: relative;
}

#u4943.MuseMenuActive,#u4957:hover
{
	background-color: transparent;
}

#u4957:active
{
	background-color: #6B6B6B;
}

#u4959-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u4943.MuseMenuActive #u4945-4 p,#u4957:hover #u4959-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u4957:active #u4959-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u5045
{
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #5B5B5B;
	position: relative;
}

#u5045::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	box-shadow: inset 0px 0px 4px #FFFFFF, inset 0px 0px 4px #FFFFFF;
}

#u5088,#u5089
{
	background-color: transparent;
	position: relative;
}

#u4957.MuseMenuActive,#u5089:hover
{
	background-color: transparent;
}

#u5089:active
{
	background-color: #6B6B6B;
}

#u5090-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u4957.MuseMenuActive #u4959-4 p,#u5089:hover #u5090-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u5089:active #u5090-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u5102,#u5105
{
	background-color: transparent;
	position: relative;
}

#u5089.MuseMenuActive,#u5105:hover
{
	background-color: transparent;
}

#u5105:active
{
	background-color: #6B6B6B;
}

#u5106-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u5089.MuseMenuActive #u5090-4 p,#u5105:hover #u5106-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u5105:active #u5106-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u5095,#u5098
{
	background-color: transparent;
	position: relative;
}

#u5105.MuseMenuActive,#u5098:hover
{
	background-color: transparent;
}

#u5098:active
{
	background-color: #6B6B6B;
}

#u5099-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u5105.MuseMenuActive #u5106-4 p,#u5098:hover #u5099-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u5098:active #u5099-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u5084
{
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #5B5B5B;
	position: relative;
}

#u5084::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	box-shadow: inset 0px 0px 4px #FFFFFF, inset 0px 0px 4px #FFFFFF;
}

#u5019,#u5020
{
	background-color: transparent;
	position: relative;
}

#u5098.MuseMenuActive,#u5020:hover
{
	background-color: transparent;
}

#u5020:active
{
	background-color: #6B6B6B;
}

#u5022-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u5098.MuseMenuActive #u5099-4 p,#u5020:hover #u5022-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u5020:active #u5022-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u5026,#u5027
{
	background-color: transparent;
	position: relative;
}

#u5020.MuseMenuActive,#u5027:hover
{
	background-color: transparent;
}

#u5027:active
{
	background-color: #6B6B6B;
}

#u5029-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u5020.MuseMenuActive #u5022-4 p,#u5027:hover #u5029-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u5027:active #u5029-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u5012,#u5015
{
	background-color: transparent;
	position: relative;
}

#u5027.MuseMenuActive,#u5015:hover
{
	background-color: transparent;
}

#u5015:active
{
	background-color: #6B6B6B;
}

#u5017-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u5027.MuseMenuActive #u5029-4 p,#u5015:hover #u5017-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u5015:active #u5017-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u5015.MuseMenuActive #u5017-4 p
{
	color: #28AEE2;
	visibility: inherit;
	text-decoration: underline;
}

#u6038
{
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: #5B5B5B;
	position: relative;
}

#u6038::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	box-shadow: inset 0px 0px 4px #FFFFFF, inset 0px 0px 4px #FFFFFF;
}

#u5043-4,#u5085-4,#u5036-4,#u6039-4
{
	border-style: solid;
	border-color: #29ABE2;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	position: relative;
	border-width: 0px 0px 3px;
}

#u6039-4:hover
{
	border-style: solid;
	border-color: #29ABE2;
	border-width: 0px 0px 3px;
}

#u6039-4.MuseLinkActive
{
	border-style: none;
	border-color: transparent;
}

#u6039-4:hover p
{
	color: #28B1E2;
	visibility: inherit;
}

#u6039-4.MuseLinkActive p
{
	color: #E2E2E2;
	visibility: inherit;
	text-align: left;
	font-weight: bold;
}

#u5037-3
{
	background-color: #5B5B5B;
}

#u4904,#u4907
{
	background-color: transparent;
	position: relative;
}

#u4907:active
{
	background-color: #6B6B6B;
}

#u4909-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#u4907:hover #u4909-4 p
{
	text-decoration: underline;
}

#u4907:active #u4909-4 p
{
	text-decoration: underline;
}

#u4932,#u4933
{
	background-color: transparent;
	position: relative;
}

#u4933:active
{
	background-color: #6B6B6B;
}

#u4934-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#u4907.MuseMenuActive #u4909-4 p,#u4933:hover #u4934-4 p
{
	text-decoration: underline;
}

#u4933:active #u4934-4 p
{
	text-decoration: underline;
}

#u4911,#u4914
{
	background-color: transparent;
	position: relative;
}

#u4914:active
{
	background-color: #6B6B6B;
}

#u4916-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#u4933.MuseMenuActive #u4934-4 p,#u4914:hover #u4916-4 p
{
	text-decoration: underline;
}

#u4914:active #u4916-4 p
{
	text-decoration: underline;
}

#u4918,#u4921
{
	background-color: transparent;
	position: relative;
}

#u4921:active
{
	background-color: #6B6B6B;
}

#u4923-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#u4914.MuseMenuActive #u4916-4 p,#u4921:hover #u4923-4 p
{
	text-decoration: underline;
}

#u4921:active #u4923-4 p
{
	text-decoration: underline;
}

#u4897,#u4900
{
	background-color: transparent;
	position: relative;
}

#u4900:active
{
	background-color: #6B6B6B;
}

#u4901-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#u4921.MuseMenuActive #u4923-4 p,#u4900:hover #u4901-4 p
{
	text-decoration: underline;
}

#u4900:active #u4901-4 p
{
	text-decoration: underline;
}

#u4925,#u4926
{
	background-color: transparent;
	position: relative;
}

#u4926:active
{
	background-color: #6B6B6B;
}

#u5015.MuseMenuActive,#u4907.MuseMenuActive,#u4933.MuseMenuActive,#u4914.MuseMenuActive,#u4921.MuseMenuActive,#u4900.MuseMenuActive,#u4926.MuseMenuActive
{
	background-color: transparent;
}

#u4927-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #E8E8E8;
	font-size: 15px;
	text-align: center;
	line-height: 18px;
	font-weight: bold;
	position: relative;
}

#u4900.MuseMenuActive #u4901-4 p,#u4926:hover #u4927-4 p
{
	text-decoration: underline;
}

#u4926:active #u4927-4 p
{
	text-decoration: underline;
}

#u4926.MuseMenuActive #u4927-4 p
{
	text-decoration: underline;
}

#u5041-4
{
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #7F7F7F;
	position: relative;
}

#menuu4939,#menuu5087,#menuu5011,#menuu4896,#u5034,#u5182,#u5269,#u6191
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

